@model Employee


<div class="card" style="width: 36rem;">
	<div class="card-body">
		<h5 class="card-title">@Model.Name Details</h5>
		
		<p class="card-text">

			<p><b> Name: </b>@Model.Name</p>
			<p><b>Address: </b>@Model.Address</p>
			<p><b> Gender: </b>@Model.Gender</p>
			<p><b> Contact: </b>@Model.Contact</p>
			<p><b>  Dob: </b>@Model.Dob</p>
			
		
		<a href="/Employees/index" class="btn btn-success">Back To List</a>
		
	</div>
</div>